.chat {
  height: 100vh;
  width: calc(100% - 300px);
  float: left;
  .header {
    box-sizing: border-box;
    border: 1px solid #eee;
    height: 100px;
    padding: 0 40px;
    .left-header {
      height: 50px;
      width: 55vw;
      float: left;
      margin: 20px auto;
      h3.header__title{
        color: #333;
        font-size: 20px;
      }
      h3.header__members{
        color: $light_gray;
        font-size: 12px;
        padding: 10px;
        .member {
          display: inline-block;
          padding-right: 5px;
        }
      }
    }
    .right-header {
      border: 1px solid $side_blue_light;
      color: $side_blue_light;
      float: right;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      &__button {
        color: $side_blue_light;
      }
    }
  }

  .messages {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100% - 100px - 90px);
    overflow: scroll;
    .message {
      .upper-message {
        display: flex;
        &__user-name {
          color: black;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: $light_gray;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: black;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }

  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 50px 20px 40px;
    position: relative;
    &__message {
      border: none;
      height: 50px;
      width: calc(100% - 150px);
    }
      .fa-image{
        font-weight: 900;
        font-size: 20px;
        line-height: 50px;
        position: absolute;
        top: 20px;
        right: 15vw;
        z-index: 1;
      }
      .hidden {
        display: none;
      }
    &__submit {
            color: white;
            background-color: $sky-blue;
            height: 50px;
            width: 100px;
            position: absolute;
            top: 20px;
            bottom: 20px;
            right: 40px;
    }
  }
}
