.side-bar {
  box-sizing: border-box;
  color: $side_blue_light;
  width: 300px;
  height: 100vh;
  float: left;
  overflow: scroll;
  .header {
    background-color: $left_content_color;
    height: 100px;
    line-height: 100px;
    padding: 0 20px;
    color: white;
    &__name {
      display: inline-block;
      font-size: $left_text_color;
      font-weight: bold;
    }
    &__lists {
      display: inline-block;
      float: right;
      .list {
        display: inline-block;
      }
      .fa-edit{
        color: $white;
      }
      .icon {
        color: $white;
        font-size: $left_text_color;
      }
    }
  }

  .groups {
    background-color: $side_blue_light;
    padding: 0 20px;
    .group {
      box-sizing: border-box;
      padding: 20px 0 40px;
      &__name {
        color: $white;
        font-size: 15px;
      }
      &__message {
        color: $white;
        font-size: 11px;
        margin-top: 5px;
      }
    }
  }
}
