$left-text-color: #ffffff;
$sub-text-color: #999999;
$right-text-color: #434A54;
$sky-blue: #38AEF0;
$title-color: #333333;
$left-content-color: #253141;
$group-color: #2f3e51;
$border-color: #38aef0;
$left-color:#aaaaaa;
$white: #fff;
$side_blue_light: #2f3e51;
$light_gray: #999;
$alert_orange: #F35500;
